.container {
    top: 0;
    left: 0;
    position: relative;
    padding: 0px;
}

.img {
    position: relative;
    width: 100%;
    height: auto; 
}

.block {
    z-index: 999;
    top: 23%; 
    right: 10px; 
    position: absolute;
    background: black;
    padding: 16px;
    color: white; 
    border-radius: 10px; 
    width: 900px;
}

.block1 {
    z-index: 999;
    top: 43%; 
    right: 10px; 
    position: absolute;
    background: black;
    padding: 16px;
    color: white; 
    border-radius: 10px; 
    width: 900px;
}

.block2 {
    z-index: 999;
    top: 63%; 
    right: 10px; 
    position: absolute;
    background: black;
    padding: 16px;
    color: white; 
    border-radius: 10px; 
    width: 900px;
}

.blockLink {
    z-index: 999;
    top: 80%; 
    right: 100px; 
    position: absolute;
    background: black;
    padding: 16px;
    color: white; 
    border-radius: 10px; 
    width: 90px;
}

.link {
    text-decoration: none;
    color: wheat;
    width: 40px;
}