.container {
    top: 0;
    left: 0;
    position: relative;
    padding: 0px;
}

.img {
    position: relative;
    width: 100%;
    height: auto; 
}

.block {
    z-index: 999;
    top: 33%; 
    left: 10px; 
    position: absolute;
    background: linear-gradient(#e66465, #9198e5);
    padding: 16px;
    color: white; 
    border-radius: 10px; 
    width: 900px;
}

.blockLink {
    z-index: 999;
    top: 60%; 
    left: 10px; 
    position: absolute;
    background: linear-gradient(blue, purple);
    padding: 16px;
    color: white; 
    border-radius: 10px; 
    width: 90px;
}

.link {
    text-decoration: none;
    color: wheat;
    width: 40px;
}